<!-- Algolia DocSearch Template -->
<div class="algolia-docsearch-suggestion--title">
    {{ "{{" }}#lvl0{{ "}}" }}{{ "{{" }}lvl0{{ "}}" }}{{ "{{" }}/lvl0{{ "}}" }}
    {{ "{{" }}#lvl1{{ "}}" }} > {{ "{{" }}lvl1{{ "}}" }}{{ "{{" }}/lvl1{{ "}}" }}
    {{ "{{" }}#lvl2{{ "}}" }} > {{ "{{" }}lvl2{{ "}}" }}{{ "{{" }}/lvl2{{ "}}" }}
    {{ "{{" }}#lvl3{{ "}}" }} > {{ "{{" }}lvl3{{ "}}" }}{{ "{{" }}/lvl3{{ "}}" }}
    {{ "{{" }}#lvl4{{ "}}" }} > {{ "{{" }}lvl4{{ "}}" }}{{ "{{" }}/lvl4{{ "}}" }}
    {{ "{{" }}#lvl5{{ "}}" }} > {{ "{{" }}lvl5{{ "}}" }}{{ "{{" }}/lvl5{{ "}}" }}
  </div>
  <div class="algolia-docsearch-suggestion--content">
    {{ "{{" }}#_highlightResult.content{{ "}}" }}{{ "{{" }}{{ "{{" }}{{ "{{" }}value{{ "}}" }}{{ "}}" }}{{ "{{" }}/_highlightResult.content{{ "}}" }}
  </div>