{
  "openapi": "3.1.0",
  "info": {
    "title": "Serverless Training",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.training.wandb.ai"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "chat-completions"
        ],
        "summary": "Create Chat Completion",
        "description": "Create a new chat completion.",
        "operationId": "create_chat_completion_v1_chat_completions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/preview/models": {
      "post": {
        "tags": [
          "models"
        ],
        "summary": "Create Model",
        "description": "Create a new model.",
        "operationId": "create_model_v1_preview_models_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/preview/models/{model_id}/checkpoints": {
      "get": {
        "tags": [
          "models"
        ],
        "summary": "List Model Checkpoints",
        "operationId": "list_model_checkpoints_v1_preview_models__model_id__checkpoints_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model Id"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Cursor for pagination - ID of the last item from previous page",
              "title": "After"
            },
            "description": "Cursor for pagination - ID of the last item from previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of items to return",
              "default": 20,
              "title": "Limit"
            },
            "description": "Number of items to return"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "description": "Sort order",
              "default": "asc",
              "title": "Order"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_CheckpointResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "models"
        ],
        "summary": "Delete Model Checkpoints",
        "description": "Delete specific checkpoints for a model.",
        "operationId": "delete_model_checkpoints_v1_preview_models__model_id__checkpoints_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCheckpointsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCheckpointsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/preview/models/{model_id}": {
      "delete": {
        "tags": [
          "models"
        ],
        "summary": "Delete Model",
        "description": "Delete a model, all its checkpoints, artifacts, and the associated W&B run.",
        "operationId": "delete_model_v1_preview_models__model_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteModelResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/preview/models/{model_id}/log": {
      "post": {
        "tags": [
          "models"
        ],
        "summary": "Log",
        "description": "Log trajectories and calculate metrics.",
        "operationId": "log_v1_preview_models__model_id__log_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/preview/training-jobs": {
      "post": {
        "tags": [
          "training-jobs"
        ],
        "summary": "Create Rl Training Job",
        "description": "Create a new RL (Reinforcement Learning) training job.",
        "operationId": "Create_RL_Training_Job_v1_preview_training_jobs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrainingJob"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/preview/sft-training-jobs": {
      "post": {
        "tags": [
          "training-jobs"
        ],
        "summary": "Create Sft Training Job",
        "description": "Create a new SFT (Supervised Fine-Tuning) training job.",
        "operationId": "Create_SFT_Training_Job_v1_preview_sft_training_jobs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSFTTrainingJob"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/preview/training-jobs/{training_job_id}": {
      "get": {
        "tags": [
          "training-jobs"
        ],
        "summary": "Get Training Job",
        "description": "Get a training job by ID.",
        "operationId": "get_training_job_v1_preview_training_jobs__training_job_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "training_job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Training Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/preview/training-jobs/{training_job_id}/events": {
      "get": {
        "tags": [
          "training-jobs"
        ],
        "summary": "Get Training Job Events",
        "description": "Get events for a training job.",
        "operationId": "get_training_job_events_v1_preview_training_jobs__training_job_id__events_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "training_job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Training Job Id"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Cursor for pagination",
              "title": "After"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of items to return",
              "default": 20,
              "title": "Limit"
            },
            "description": "Number of items to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_TrainingJobEventResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Health Check",
        "operationId": "health_check_v1_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/system-check": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "System Check",
        "description": "Check health of all system components.\n\nReturns:\n    JSON with status of:\n    - api: Always true (if endpoint is reachable)\n    - database: Whether DB connection works\n    - cpu_queue: Success, duration, and any errors\n    - gpu_queue: Success, duration, and any errors\n\nReturns HTTP 503 if any checks fail.",
        "operationId": "system_check_v1_system_check_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Action": {
        "properties": {
          "commands": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Commands"
          },
          "max_output_length": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Output Length"
          },
          "timeout_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Timeout Ms"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "commands"
        ],
        "title": "Action",
        "description": "The shell commands and limits that describe how to run the tool call."
      },
      "ActionClick": {
        "properties": {
          "button": {
            "type": "string",
            "enum": [
              "left",
              "right",
              "wheel",
              "back",
              "forward"
            ],
            "title": "Button"
          },
          "type": {
            "type": "string",
            "const": "click",
            "title": "Type"
          },
          "x": {
            "type": "integer",
            "title": "X"
          },
          "y": {
            "type": "integer",
            "title": "Y"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "button",
          "type",
          "x",
          "y"
        ],
        "title": "ActionClick",
        "description": "A click action."
      },
      "ActionDoubleClick": {
        "properties": {
          "type": {
            "type": "string",
            "const": "double_click",
            "title": "Type"
          },
          "x": {
            "type": "integer",
            "title": "X"
          },
          "y": {
            "type": "integer",
            "title": "Y"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "type",
          "x",
          "y"
        ],
        "title": "ActionDoubleClick",
        "description": "A double click action."
      },
      "ActionDrag": {
        "properties": {
          "path": {
            "items": {
              "$ref": "#/components/schemas/ActionDragPath"
            },
            "type": "array",
            "title": "Path"
          },
          "type": {
            "type": "string",
            "const": "drag",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "path",
          "type"
        ],
        "title": "ActionDrag",
        "description": "A drag action."
      },
      "ActionDragPath": {
        "properties": {
          "x": {
            "type": "integer",
            "title": "X"
          },
          "y": {
            "type": "integer",
            "title": "Y"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "x",
          "y"
        ],
        "title": "ActionDragPath",
        "description": "An x/y coordinate pair, e.g. `{ x: 100, y: 200 }`."
      },
      "ActionFind": {
        "properties": {
          "pattern": {
            "type": "string",
            "title": "Pattern"
          },
          "type": {
            "type": "string",
            "const": "find",
            "title": "Type"
          },
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "pattern",
          "type",
          "url"
        ],
        "title": "ActionFind",
        "description": "Action type \"find\": Searches for a pattern within a loaded page."
      },
      "ActionKeypress": {
        "properties": {
          "keys": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Keys"
          },
          "type": {
            "type": "string",
            "const": "keypress",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "keys",
          "type"
        ],
        "title": "ActionKeypress",
        "description": "A collection of keypresses the model would like to perform."
      },
      "ActionMove": {
        "properties": {
          "type": {
            "type": "string",
            "const": "move",
            "title": "Type"
          },
          "x": {
            "type": "integer",
            "title": "X"
          },
          "y": {
            "type": "integer",
            "title": "Y"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "type",
          "x",
          "y"
        ],
        "title": "ActionMove",
        "description": "A mouse move action."
      },
      "ActionOpenPage": {
        "properties": {
          "type": {
            "type": "string",
            "const": "open_page",
            "title": "Type"
          },
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "type",
          "url"
        ],
        "title": "ActionOpenPage",
        "description": "Action type \"open_page\" - Opens a specific URL from search results."
      },
      "ActionScreenshot": {
        "properties": {
          "type": {
            "type": "string",
            "const": "screenshot",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "type"
        ],
        "title": "ActionScreenshot",
        "description": "A screenshot action."
      },
      "ActionScroll": {
        "properties": {
          "scroll_x": {
            "type": "integer",
            "title": "Scroll X"
          },
          "scroll_y": {
            "type": "integer",
            "title": "Scroll Y"
          },
          "type": {
            "type": "string",
            "const": "scroll",
            "title": "Type"
          },
          "x": {
            "type": "integer",
            "title": "X"
          },
          "y": {
            "type": "integer",
            "title": "Y"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "scroll_x",
          "scroll_y",
          "type",
          "x",
          "y"
        ],
        "title": "ActionScroll",
        "description": "A scroll action."
      },
      "ActionSearch": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query"
          },
          "type": {
            "type": "string",
            "const": "search",
            "title": "Type"
          },
          "sources": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ActionSearchSource"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sources"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "query",
          "type"
        ],
        "title": "ActionSearch",
        "description": "Action type \"search\" - Performs a web search query."
      },
      "ActionSearchSource": {
        "properties": {
          "type": {
            "type": "string",
            "const": "url",
            "title": "Type"
          },
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "type",
          "url"
        ],
        "title": "ActionSearchSource",
        "description": "A source used in the search."
      },
      "ActionType": {
        "properties": {
          "text": {
            "type": "string",
            "title": "Text"
          },
          "type": {
            "type": "string",
            "const": "type",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "text",
          "type"
        ],
        "title": "ActionType",
        "description": "An action to type in text."
      },
      "ActionWait": {
        "properties": {
          "type": {
            "type": "string",
            "const": "wait",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "type"
        ],
        "title": "ActionWait",
        "description": "A wait action."
      },
      "Annotation": {
        "properties": {
          "type": {
            "type": "string",
            "const": "url_citation",
            "title": "Type"
          },
          "url_citation": {
            "$ref": "#/components/schemas/openai__types__chat__chat_completion_message__AnnotationURLCitation"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "type",
          "url_citation"
        ],
        "title": "Annotation",
        "description": "A URL citation when using web search."
      },
      "AnnotationContainerFileCitation": {
        "properties": {
          "container_id": {
            "type": "string",
            "title": "Container Id"
          },
          "end_index": {
            "type": "integer",
            "title": "End Index"
          },
          "file_id": {
            "type": "string",
            "title": "File Id"
          },
          "filename": {
            "type": "string",
            "title": "Filename"
          },
          "start_index": {
            "type": "integer",
            "title": "Start Index"
          },
          "type": {
            "type": "string",
            "const": "container_file_citation",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "container_id",
          "end_index",
          "file_id",
          "filename",
          "start_index",
          "type"
        ],
        "title": "AnnotationContainerFileCitation",
        "description": "A citation for a container file used to generate a model response."
      },
      "AnnotationFileCitation": {
        "properties": {
          "file_id": {
            "type": "string",
            "title": "File Id"
          },
          "filename": {
            "type": "string",
            "title": "Filename"
          },
          "index": {
            "type": "integer",
            "title": "Index"
          },
          "type": {
            "type": "string",
            "const": "file_citation",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "file_id",
          "filename",
          "index",
          "type"
        ],
        "title": "AnnotationFileCitation",
        "description": "A citation to a file."
      },
      "AnnotationFilePath": {
        "properties": {
          "file_id": {
            "type": "string",
            "title": "File Id"
          },
          "index": {
            "type": "integer",
            "title": "Index"
          },
          "type": {
            "type": "string",
            "const": "file_path",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "file_id",
          "index",
          "type"
        ],
        "title": "AnnotationFilePath",
        "description": "A path to a file."
      },
      "AnnotationURLCitation": {
        "properties": {
          "end_index": {
            "type": "integer",
            "title": "End Index"
          },
          "start_index": {
            "type": "integer",
            "title": "Start Index"
          },
          "title": {
            "type": "string",
            "title": "Title"
          },
          "type": {
            "type": "string",
            "const": "url_citation",
            "title": "Type"
          },
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "end_index",
          "start_index",
          "title",
          "type",
          "url"
        ],
        "title": "AnnotationURLCitation",
        "description": "A citation for a web resource used to generate a model response."
      },
      "ApplyPatchCall": {
        "properties": {
          "call_id": {
            "type": "string",
            "title": "Call Id"
          },
          "operation": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ApplyPatchCallOperationCreateFile"
              },
              {
                "$ref": "#/components/schemas/ApplyPatchCallOperationDeleteFile"
              },
              {
                "$ref": "#/components/schemas/ApplyPatchCallOperationUpdateFile"
              }
            ],
            "title": "Operation"
          },
          "status": {
            "type": "string",
            "enum": [
              "in_progress",
              "completed"
            ],
            "title": "Status"
          },
          "type": {
            "type": "string",
            "const": "apply_patch_call",
            "title": "Type"
          },
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "call_id",
          "operation",
          "status",
          "type"
        ],
        "title": "ApplyPatchCall",
        "description": "A tool call representing a request to create, delete, or update files using diff patches."
      },
      "ApplyPatchCallOperationCreateFile": {
        "properties": {
          "diff": {
            "type": "string",
            "title": "Diff"
          },
          "path": {
            "type": "string",
            "title": "Path"
          },
          "type": {
            "type": "string",
            "const": "create_file",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "diff",
          "path",
          "type"
        ],
        "title": "ApplyPatchCallOperationCreateFile",
        "description": "Instruction for creating a new file via the apply_patch tool."
      },
      "ApplyPatchCallOperationDeleteFile": {
        "properties": {
          "path": {
            "type": "string",
            "title": "Path"
          },
          "type": {
            "type": "string",
            "const": "delete_file",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "path",
          "type"
        ],
        "title": "ApplyPatchCallOperationDeleteFile",
        "description": "Instruction for deleting an existing file via the apply_patch tool."
      },
      "ApplyPatchCallOperationUpdateFile": {
        "properties": {
          "diff": {
            "type": "string",
            "title": "Diff"
          },
          "path": {
            "type": "string",
            "title": "Path"
          },
          "type": {
            "type": "string",
            "const": "update_file",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "diff",
          "path",
          "type"
        ],
        "title": "ApplyPatchCallOperationUpdateFile",
        "description": "Instruction for updating an existing file via the apply_patch tool."
      },
      "ApplyPatchCallOutput": {
        "properties": {
          "call_id": {
            "type": "string",
            "title": "Call Id"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed"
            ],
            "title": "Status"
          },
          "type": {
            "type": "string",
            "const": "apply_patch_call_output",
            "title": "Type"
          },
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "output": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Output"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "call_id",
          "status",
          "type"
        ],
        "title": "ApplyPatchCallOutput",
        "description": "The streamed output emitted by an apply patch tool call."
      },
      "ApplyPatchTool": {
        "properties": {
          "type": {
            "type": "string",
            "const": "apply_patch",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "type"
        ],
        "title": "ApplyPatchTool",
        "description": "Allows the assistant to create, delete, or update files using unified diffs."
      },
      "ApplyPatchToolParam": {
        "properties": {
          "type": {
            "type": "string",
            "const": "apply_patch",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "type"
        ],
        "title": "ApplyPatchToolParam",
        "description": "Allows the assistant to create, delete, or update files using unified diffs."
      },
      "Audio": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id"
        ],
        "title": "Audio",
        "description": "Data about a previous audio response from the model.\n[Learn more](https://platform.openai.com/docs/guides/audio)."
      },
      "Base64ImageSourceParam": {
        "properties": {
          "data": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "path"
              }
            ],
            "title": "Data"
          },
          "media_type": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/gif",
              "image/webp"
            ],
            "title": "Media Type"
          },
          "type": {
            "type": "string",
            "const": "base64",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "data",
          "media_type",
          "type"
        ],
        "title": "Base64ImageSourceParam"
      },
      "Base64PDFSource": {
        "properties": {
          "data": {
            "type": "string",
            "title": "Data"
          },
          "media_type": {
            "type": "string",
            "const": "application/pdf",
            "title": "Media Type"
          },
          "type": {
            "type": "string",
            "const": "base64",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "data",
          "media_type",
          "type"
        ],
        "title": "Base64PDFSource"
      },
      "Base64PDFSourceParam": {
        "properties": {
          "data": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "path"
              }
            ],
            "title": "Data"
          },
          "media_type": {
            "type": "string",
            "const": "application/pdf",
            "title": "Media Type"
          },
          "type": {
            "type": "string",
            "const": "base64",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "data",
          "media_type",
          "type"
        ],
        "title": "Base64PDFSourceParam"
      },
      "BashCodeExecutionOutputBlock": {
        "properties": {
          "file_id": {
            "type": "string",
            "title": "File Id"
          },
          "type": {
            "type": "string",
            "const": "bash_code_execution_output",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "file_id",
          "type"
        ],
        "title": "BashCodeExecutionOutputBlock"
      },
      "BashCodeExecutionOutputBlockParam": {
        "properties": {
          "file_id": {
            "type": "string",
            "title": "File Id"
          },
          "type": {
            "type": "string",
            "const": "bash_code_execution_output",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "file_id",
          "type"
        ],
        "title": "BashCodeExecutionOutputBlockParam"
      },
      "BashCodeExecutionResultBlock": {
        "properties": {
          "content": {
            "items": {
              "$ref": "#/components/schemas/BashCodeExecutionOutputBlock"
            },
            "type": "array",
            "title": "Content"
          },
          "return_code": {
            "type": "integer",
            "title": "Return Code"
          },
          "stderr": {
            "type": "string",
            "title": "Stderr"
          },
          "stdout": {
            "type": "string",
            "title": "Stdout"
          },
          "type": {
            "type": "string",
            "const": "bash_code_execution_result",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "content",
          "return_code",
          "stderr",
          "stdout",
          "type"
        ],
        "title": "BashCodeExecutionResultBlock"
      },
      "BashCodeExecutionResultBlockParam": {
        "properties": {
          "content": {
            "items": {
              "$ref": "#/components/schemas/BashCodeExecutionOutputBlockParam"
            },
            "type": "array",
            "title": "Content"
          },
          "return_code": {
            "type": "integer",
            "title": "Return Code"
          },
          "stderr": {
            "type": "string",
            "title": "Stderr"
          },
          "stdout": {
            "type": "string",
            "title": "Stdout"
          },
          "type": {
            "type": "string",
            "const": "bash_code_execution_result",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "content",
          "return_code",
          "stderr",
          "stdout",
          "type"
        ],
        "title": "BashCodeExecutionResultBlockParam"
      },
      "BashCodeExecutionToolResultBlock": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BashCodeExecutionToolResultError"
              },
              {
                "$ref": "#/components/schemas/BashCodeExecutionResultBlock"
              }
            ],
            "title": "Content"
          },
          "tool_use_id": {
            "type": "string",
            "title": "Tool Use Id"
          },
          "type": {
            "type": "string",
            "const": "bash_code_execution_tool_result",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "content",
          "tool_use_id",
          "type"
        ],
        "title": "BashCodeExecutionToolResultBlock"
      },
      "BashCodeExecutionToolResultBlockParam": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BashCodeExecutionToolResultErrorParam"
              },
              {
                "$ref": "#/components/schemas/BashCodeExecutionResultBlockParam"
              }
            ],
            "title": "Content"
          },
          "tool_use_id": {
            "type": "string",
            "title": "Tool Use Id"
          },
          "type": {
            "type": "string",
            "const": "bash_code_execution_tool_result",
            "title": "Type"
          },
          "cache_control": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CacheControlEphemeralParam"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "content",
          "tool_use_id",
          "type"
        ],
        "title": "BashCodeExecutionToolResultBlockParam"
      },
      "BashCodeExecutionToolResultError": {
        "properties": {
          "error_code": {
            "type": "string",
            "enum": [
              "invalid_tool_input",
              "unavailable",
              "too_many_requests",
              "execution_time_exceeded",
              "output_file_too_large"
            ],
            "title": "Error Code"
          },
          "type": {
            "type": "string",
            "const": "bash_code_execution_tool_result_error",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "error_code",
          "type"
        ],
        "title": "BashCodeExecutionToolResultError"
      },
      "BashCodeExecutionToolResultErrorParam": {
        "properties": {
          "error_code": {
            "type": "string",
            "enum": [
              "invalid_tool_input",
              "unavailable",
              "too_many_requests",
              "execution_time_exceeded",
              "output_file_too_large"
            ],
            "title": "Error Code"
          },
          "type": {
            "type": "string",
            "const": "bash_code_execution_tool_result_error",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "error_code",
          "type"
        ],
        "title": "BashCodeExecutionToolResultErrorParam"
      },
      "CacheControlEphemeralParam": {
        "properties": {
          "type": {
            "type": "string",
            "const": "ephemeral",
            "title": "Type"
          },
          "ttl": {
            "type": "string",
            "enum": [
              "5m",
              "1h"
            ],
            "title": "Ttl"
          }
        },
        "type": "object",
        "required": [
          "type"
        ],
        "title": "CacheControlEphemeralParam"
      },
      "CacheCreation": {
        "properties": {
          "ephemeral_1h_input_tokens": {
            "type": "integer",
            "title": "Ephemeral 1H Input Tokens"
          },
          "ephemeral_5m_input_tokens": {
            "type": "integer",
            "title": "Ephemeral 5M Input Tokens"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "ephemeral_1h_input_tokens",
          "ephemeral_5m_input_tokens"
        ],
        "title": "CacheCreation"
      },
      "ChatChoice": {
        "properties": {
          "message": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ChatMessage"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ChatChoice"
      },
      "ChatCompletion": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "choices": {
            "items": {
              "$ref": "#/components/schemas/Choice"
            },
            "type": "array",
            "title": "Choices"
          },
          "created": {
            "type": "integer",
            "title": "Created"
          },
          "model": {
            "type": "string",
            "title": "Model"
          },
          "object": {
            "type": "string",
            "const": "chat.completion",
            "title": "Object"
          },
          "service_tier": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "auto",
                  "default",
                  "flex",
                  "scale",
                  "priority"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Service Tier"
          },
          "system_fingerprint": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "System Fingerprint"
          },
          "usage": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CompletionUsage"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id",
          "choices",
          "created",
          "model",
          "object"
        ],
        "title": "ChatCompletion",
        "description": "Represents a chat completion response returned by model, based on the provided input."
      },
      "ChatCompletionAssistantMessageParam": {
        "properties": {
          "role": {
            "type": "string",
            "const": "assistant",
            "title": "Role"
          },
          "audio": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Audio"
              },
              {
                "type": "null"
              }
            ]
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ChatCompletionContentPartTextParam"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionContentPartRefusalParam"
                    }
                  ]
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "function_call": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FunctionCall"
              },
              {
                "type": "null"
              }
            ]
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "refusal": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Refusal"
          },
          "tool_calls": {
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ChatCompletionMessageFunctionToolCallParam"
                },
                {
                  "$ref": "#/components/schemas/ChatCompletionMessageCustomToolCallParam"
                }
              ]
            },
            "type": "array",
            "title": "Tool Calls"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "role"
        ],
        "title": "ChatCompletionAssistantMessageParam",
        "description": "Messages sent by the model in response to user messages."
      },
      "ChatCompletionAudio": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "data": {
            "type": "string",
            "title": "Data"
          },
          "expires_at": {
            "type": "integer",
            "title": "Expires At"
          },
          "transcript": {
            "type": "string",
            "title": "Transcript"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id",
          "data",
          "expires_at",
          "transcript"
        ],
        "title": "ChatCompletionAudio",
        "description": "If the audio output modality is requested, this object contains data\nabout the audio response from the model. [Learn more](https://platform.openai.com/docs/guides/audio)."
      },
      "ChatCompletionContentPartImageParam": {
        "properties": {
          "image_url": {
            "$ref": "#/components/schemas/ImageURL"
          },
          "type": {
            "type": "string",
            "const": "image_url",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "image_url",
          "type"
        ],
        "title": "ChatCompletionContentPartImageParam",
        "description": "Learn about [image inputs](https://platform.openai.com/docs/guides/vision)."
      },
      "ChatCompletionContentPartInputAudioParam": {
        "properties": {
          "input_audio": {
            "$ref": "#/components/schemas/InputAudio"
          },
          "type": {
            "type": "string",
            "const": "input_audio",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "input_audio",
          "type"
        ],
        "title": "ChatCompletionContentPartInputAudioParam",
        "description": "Learn about [audio inputs](https://platform.openai.com/docs/guides/audio)."
      },
      "ChatCompletionContentPartRefusalParam": {
        "properties": {
          "refusal": {
            "type": "string",
            "title": "Refusal"
          },
          "type": {
            "type": "string",
            "const": "refusal",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "refusal",
          "type"
        ],
        "title": "ChatCompletionContentPartRefusalParam"
      },
      "ChatCompletionContentPartTextParam": {
        "properties": {
          "text": {
            "type": "string",
            "title": "Text"
          },
          "type": {
            "type": "string",
            "const": "text",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "text",
          "type"
        ],
        "title": "ChatCompletionContentPartTextParam",
        "description": "Learn about [text inputs](https://platform.openai.com/docs/guides/text-generation)."
      },
      "ChatCompletionDeveloperMessageParam": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionContentPartTextParam"
                },
                "type": "array"
              }
            ],
            "title": "Content"
          },
          "role": {
            "type": "string",
            "const": "developer",
            "title": "Role"
          },
          "name": {
            "type": "string",
            "title": "Name"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "content",
          "role"
        ],
        "title": "ChatCompletionDeveloperMessageParam",
        "description": "Developer-provided instructions that the model should follow, regardless of\nmessages sent by the user. With o1 models and newer, `developer` messages\nreplace the previous `system` messages."
      },
      "ChatCompletionFunctionMessageParam": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "role": {
            "type": "string",
            "const": "function",
            "title": "Role"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "content",
          "name",
          "role"
        ],
        "title": "ChatCompletionFunctionMessageParam"
      },
      "ChatCompletionFunctionToolParam": {
        "properties": {
          "function": {
            "$ref": "#/components/schemas/FunctionDefinition"
          },
          "type": {
            "type": "string",
            "const": "function",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "function",
          "type"
        ],
        "title": "ChatCompletionFunctionToolParam",
        "description": "A function tool that can be used to generate a response."
      },
      "ChatCompletionMessage": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "refusal": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Refusal"
          },
          "role": {
            "type": "string",
            "const": "assistant",
            "title": "Role"
          },
          "annotations": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/Annotation"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Annotations"
          },
          "audio": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ChatCompletionAudio"
              },
              {
                "type": "null"
              }
            ]
          },
          "function_call": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FunctionCall"
              },
              {
                "type": "null"
              }
            ]
          },
          "tool_calls": {
            "anyOf": [
              {
                "items": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ChatCompletionMessageFunctionToolCall"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionMessageCustomToolCall"
                    }
                  ]
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Calls"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "role"
        ],
        "title": "ChatCompletionMessage",
        "description": "A chat completion message generated by the model."
      },
      "ChatCompletionMessageCustomToolCall": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "custom": {
            "$ref": "#/components/schemas/Custom"
          },
          "type": {
            "type": "string",
            "const": "custom",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id",
          "custom",
          "type"
        ],
        "title": "ChatCompletionMessageCustomToolCall",
        "description": "A call to a custom tool created by the model."
      },
      "ChatCompletionMessageCustomToolCallParam": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "custom": {
            "$ref": "#/components/schemas/Custom"
          },
          "type": {
            "type": "string",
            "const": "custom",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id",
          "custom",
          "type"
        ],
        "title": "ChatCompletionMessageCustomToolCallParam",
        "description": "A call to a custom tool created by the model."
      },
      "ChatCompletionMessageFunctionToolCall": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "function": {
            "$ref": "#/components/schemas/Function"
          },
          "type": {
            "type": "string",
            "const": "function",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id",
          "function",
          "type"
        ],
        "title": "ChatCompletionMessageFunctionToolCall",
        "description": "A call to a function tool created by the model."
      },
      "ChatCompletionMessageFunctionToolCallParam": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "function": {
            "$ref": "#/components/schemas/Function"
          },
          "type": {
            "type": "string",
            "const": "function",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id",
          "function",
          "type"
        ],
        "title": "ChatCompletionMessageFunctionToolCallParam",
        "description": "A call to a function tool created by the model."
      },
      "ChatCompletionRequest": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model"
          },
          "messages": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Messages"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "title": "ChatCompletionRequest"
      },
      "ChatCompletionResponse": {
        "properties": {
          "choices": {
            "items": {
              "$ref": "#/components/schemas/ChatChoice"
            },
            "type": "array",
            "title": "Choices"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ChatCompletionResponse"
      },
      "ChatCompletionSystemMessageParam": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionContentPartTextParam"
                },
                "type": "array"
              }
            ],
            "title": "Content"
          },
          "role": {
            "type": "string",
            "const": "system",
            "title": "Role"
          },
          "name": {
            "type": "string",
            "title": "Name"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "content",
          "role"
        ],
        "title": "ChatCompletionSystemMessageParam",
        "description": "Developer-provided instructions that the model should follow, regardless of\nmessages sent by the user. With o1 models and newer, use `developer` messages\nfor this purpose instead."
      },
      "ChatCompletionTokenLogprob": {
        "properties": {
          "token": {
            "type": "string",
            "title": "Token"
          },
          "bytes": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bytes"
          },
          "logprob": {
            "type": "number",
            "title": "Logprob"
          },
          "top_logprobs": {
            "items": {
              "$ref": "#/components/schemas/TopLogprob"
            },
            "type": "array",
            "title": "Top Logprobs"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "token",
          "logprob",
          "top_logprobs"
        ],
        "title": "ChatCompletionTokenLogprob"
      },
      "ChatCompletionToolMessageParam": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionContentPartTextParam"
                },
                "type": "array"
              }
            ],
            "title": "Content"
          },
          "role": {
            "type": "string",
            "const": "tool",
            "title": "Role"
          },
          "tool_call_id": {
            "type": "string",
            "title": "Tool Call Id"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "content",
          "role",
          "tool_call_id"
        ],
        "title": "ChatCompletionToolMessageParam"
      },
      "ChatCompletionUserMessageParam": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ChatCompletionContentPartTextParam"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionContentPartImageParam"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionContentPartInputAudioParam"
                    },
                    {
                      "$ref": "#/components/schemas/File"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "title": "Content"
          },
          "role": {
            "type": "string",
            "const": "user",
            "title": "Role"
          },
          "name": {
            "type": "string",
            "title": "Name"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "content",
          "role"
        ],
        "title": "ChatCompletionUserMessageParam",
        "description": "Messages sent by an end user, containing prompts or additional context\ninformation."
      },
      "ChatCompletionsExchange": {
        "properties": {
          "request": {
            "$ref": "#/components/schemas/ChatCompletionsRequest",
            "title": "Request"
          },
          "response": {
            "$ref": "#/components/schemas/ChatCompletion"
          },
          "start_time": {
            "type": "string",
            "format": "date-time",
            "title": "Start Time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "title": "End Time"
          }
        },
        "type": "object",
        "required": [
          "request",
          "response",
          "start_time",
          "end_time"
        ],
        "title": "ChatCompletionsExchange"
      },
      "ChatCompletionsRequest": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model"
          },
          "messages": {
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ChatCompletionDeveloperMessageParam"
                },
                {
                  "$ref": "#/components/schemas/ChatCompletionSystemMessageParam"
                },
                {
                  "$ref": "#/components/schemas/ChatCompletionUserMessageParam"
                },
                {
                  "$ref": "#/components/schemas/ChatCompletionAssistantMessageParam"
                },
                {
                  "$ref": "#/components/schemas/ChatCompletionToolMessageParam"
                },
                {
                  "$ref": "#/components/schemas/ChatCompletionFunctionMessageParam"
                }
              ]
            },
            "type": "array",
            "title": "Messages"
          },
          "stream": {
            "type": "boolean",
            "title": "Stream"
          },
          "tools": {
            "items": {
              "$ref": "#/components/schemas/ChatCompletionFunctionToolParam"
            },
            "type": "array",
            "title": "Tools"
          },
          "max_completion_tokens": {
            "type": "integer",
            "title": "Max Completion Tokens"
          },
          "max_tokens": {
            "type": "integer",
            "title": "Max Tokens"
          },
          "temperature": {
            "type": "number",
            "title": "Temperature"
          },
          "top_p": {
            "type": "number",
            "title": "Top P"
          },
          "logprobs": {
            "type": "boolean",
            "title": "Logprobs"
          },
          "top_logprobs": {
            "type": "integer",
            "title": "Top Logprobs"
          },
          "chat_template": {
            "type": "string",
            "title": "Chat Template"
          },
          "chat_template_kwargs": {
            "additionalProperties": true,
            "type": "object",
            "title": "Chat Template Kwargs"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ChatCompletionsRequest",
        "description": "The JSON body sent to an OpenAI-compatible Chat Completions endpoint."
      },
      "ChatMessage": {
        "properties": {
          "content": {
            "title": "Content"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ChatMessage"
      },
      "CheckpointResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "step": {
            "type": "integer",
            "title": "Step"
          },
          "metrics": {
            "additionalProperties": {
              "type": "number"
            },
            "type": "object",
            "title": "Metrics"
          }
        },
        "type": "object",
        "required": [
          "id",
          "step",
          "metrics"
        ],
        "title": "CheckpointResponse",
        "description": "Schema for Checkpoint response."
      },
      "Choice": {
        "properties": {
          "finish_reason": {
            "type": "string",
            "enum": [
              "stop",
              "length",
              "tool_calls",
              "content_filter",
              "function_call"
            ],
            "title": "Finish Reason"
          },
          "index": {
            "type": "integer",
            "title": "Index"
          },
          "logprobs": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ChoiceLogprobs"
              },
              {
                "type": "null"
              }
            ]
          },
          "message": {
            "$ref": "#/components/schemas/ChatCompletionMessage"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "finish_reason",
          "index",
          "message"
        ],
        "title": "Choice"
      },
      "ChoiceLogprobs": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionTokenLogprob"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "refusal": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionTokenLogprob"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Refusal"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ChoiceLogprobs",
        "description": "Log probability information for the choice."
      },
      "CitationCharLocation": {
        "properties": {
          "cited_text": {
            "type": "string",
            "title": "Cited Text"
          },
          "document_index": {
            "type": "integer",
            "title": "Document Index"
          },
          "document_title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Title"
          },
          "end_char_index": {
            "type": "integer",
            "title": "End Char Index"
          },
          "file_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Id"
          },
          "start_char_index": {
            "type": "integer",
            "title": "Start Char Index"
          },
          "type": {
            "type": "string",
            "const": "char_location",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "cited_text",
          "document_index",
          "end_char_index",
          "start_char_index",
          "type"
        ],
        "title": "CitationCharLocation"
      },
      "CitationCharLocationParam": {
        "properties": {
          "cited_text": {
            "type": "string",
            "title": "Cited Text"
          },
          "document_index": {
            "type": "integer",
            "title": "Document Index"
          },
          "document_title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Title"
          },
          "end_char_index": {
            "type": "integer",
            "title": "End Char Index"
          },
          "start_char_index": {
            "type": "integer",
            "title": "Start Char Index"
          },
          "type": {
            "type": "string",
            "const": "char_location",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "cited_text",
          "document_index",
          "document_title",
          "end_char_index",
          "start_char_index",
          "type"
        ],
        "title": "CitationCharLocationParam"
      },
      "CitationContentBlockLocation": {
        "properties": {
          "cited_text": {
            "type": "string",
            "title": "Cited Text"
          },
          "document_index": {
            "type": "integer",
            "title": "Document Index"
          },
          "document_title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Title"
          },
          "end_block_index": {
            "type": "integer",
            "title": "End Block Index"
          },
          "file_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Id"
          },
          "start_block_index": {
            "type": "integer",
            "title": "Start Block Index"
          },
          "type": {
            "type": "string",
            "const": "content_block_location",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "cited_text",
          "document_index",
          "end_block_index",
          "start_block_index",
          "type"
        ],
        "title": "CitationContentBlockLocation"
      },
      "CitationContentBlockLocationParam": {
        "properties": {
          "cited_text": {
            "type": "string",
            "title": "Cited Text"
          },
          "document_index": {
            "type": "integer",
            "title": "Document Index"
          },
          "document_title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Title"
          },
          "end_block_index": {
            "type": "integer",
            "title": "End Block Index"
          },
          "start_block_index": {
            "type": "integer",
            "title": "Start Block Index"
          },
          "type": {
            "type": "string",
            "const": "content_block_location",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "cited_text",
          "document_index",
          "document_title",
          "end_block_index",
          "start_block_index",
          "type"
        ],
        "title": "CitationContentBlockLocationParam"
      },
      "CitationPageLocation": {
        "properties": {
          "cited_text": {
            "type": "string",
            "title": "Cited Text"
          },
          "document_index": {
            "type": "integer",
            "title": "Document Index"
          },
          "document_title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Title"
          },
          "end_page_number": {
            "type": "integer",
            "title": "End Page Number"
          },
          "file_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Id"
          },
          "start_page_number": {
            "type": "integer",
            "title": "Start Page Number"
          },
          "type": {
            "type": "string",
            "const": "page_location",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "cited_text",
          "document_index",
          "end_page_number",
          "start_page_number",
          "type"
        ],
        "title": "CitationPageLocation"
      },
      "CitationPageLocationParam": {
        "properties": {
          "cited_text": {
            "type": "string",
            "title": "Cited Text"
          },
          "document_index": {
            "type": "integer",
            "title": "Document Index"
          },
          "document_title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Title"
          },
          "end_page_number": {
            "type": "integer",
            "title": "End Page Number"
          },
          "start_page_number": {
            "type": "integer",
            "title": "Start Page Number"
          },
          "type": {
            "type": "string",
            "const": "page_location",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "cited_text",
          "document_index",
          "document_title",
          "end_page_number",
          "start_page_number",
          "type"
        ],
        "title": "CitationPageLocationParam"
      },
      "CitationSearchResultLocationParam": {
        "properties": {
          "cited_text": {
            "type": "string",
            "title": "Cited Text"
          },
          "end_block_index": {
            "type": "integer",
            "title": "End Block Index"
          },
          "search_result_index": {
            "type": "integer",
            "title": "Search Result Index"
          },
          "source": {
            "type": "string",
            "title": "Source"
          },
          "start_block_index": {
            "type": "integer",
            "title": "Start Block Index"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "type": {
            "type": "string",
            "const": "search_result_location",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "cited_text",
          "end_block_index",
          "search_result_index",
          "source",
          "start_block_index",
          "title",
          "type"
        ],
        "title": "CitationSearchResultLocationParam"
      },
      "CitationWebSearchResultLocationParam": {
        "properties": {
          "cited_text": {
            "type": "string",
            "title": "Cited Text"
          },
          "encrypted_index": {
            "type": "string",
            "title": "Encrypted Index"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "type": {
            "type": "string",
            "const": "web_search_result_location",
            "title": "Type"
          },
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "type": "object",
        "required": [
          "cited_text",
          "encrypted_index",
          "title",
          "type",
          "url"
        ],
        "title": "CitationWebSearchResultLocationParam"
      },
      "CitationsConfig": {
        "properties": {
          "enabled": {
            "type": "boolean",
            "title": "Enabled"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "enabled"
        ],
        "title": "CitationsConfig"
      },
      "CitationsConfigParam": {
        "properties": {
          "enabled": {
            "type": "boolean",
            "title": "Enabled"
          }
        },
        "type": "object",
        "title": "CitationsConfigParam"
      },
      "CitationsSearchResultLocation": {
        "properties": {
          "cited_text": {
            "type": "string",
            "title": "Cited Text"
          },
          "end_block_index": {
            "type": "integer",
            "title": "End Block Index"
          },
          "search_result_index": {
            "type": "integer",
            "title": "Search Result Index"
          },
          "source": {
            "type": "string",
            "title": "Source"
          },
          "start_block_index": {
            "type": "integer",
            "title": "Start Block Index"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "type": {
            "type": "string",
            "const": "search_result_location",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "cited_text",
          "end_block_index",
          "search_result_index",
          "source",
          "start_block_index",
          "type"
        ],
        "title": "CitationsSearchResultLocation"
      },
      "CitationsWebSearchResultLocation": {
        "properties": {
          "cited_text": {
            "type": "string",
            "title": "Cited Text"
          },
          "encrypted_index": {
            "type": "string",
            "title": "Encrypted Index"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "type": {
            "type": "string",
            "const": "web_search_result_location",
            "title": "Type"
          },
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "cited_text",
          "encrypted_index",
          "type",
          "url"
        ],
        "title": "CitationsWebSearchResultLocation"
      },
      "CodeExecutionOutputBlock": {
        "properties": {
          "file_id": {
            "type": "string",
            "title": "File Id"
          },
          "type": {
            "type": "string",
            "const": "code_execution_output",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "file_id",
          "type"
        ],
        "title": "CodeExecutionOutputBlock"
      },
      "CodeExecutionOutputBlockParam": {
        "properties": {
          "file_id": {
            "type": "string",
            "title": "File Id"
          },
          "type": {
            "type": "string",
            "const": "code_execution_output",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "file_id",
          "type"
        ],
        "title": "CodeExecutionOutputBlockParam"
      },
      "CodeExecutionResultBlock": {
        "properties": {
          "content": {
            "items": {
              "$ref": "#/components/schemas/CodeExecutionOutputBlock"
            },
            "type": "array",
            "title": "Content"
          },
          "return_code": {
            "type": "integer",
            "title": "Return Code"
          },
          "stderr": {
            "type": "string",
            "title": "Stderr"
          },
          "stdout": {
            "type": "string",
            "title": "Stdout"
          },
          "type": {
            "type": "string",
            "const": "code_execution_result",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "content",
          "return_code",
          "stderr",
          "stdout",
          "type"
        ],
        "title": "CodeExecutionResultBlock"
      },
      "CodeExecutionResultBlockParam": {
        "properties": {
          "content": {
            "items": {
              "$ref": "#/components/schemas/CodeExecutionOutputBlockParam"
            },
            "type": "array",
            "title": "Content"
          },
          "return_code": {
            "type": "integer",
            "title": "Return Code"
          },
          "stderr": {
            "type": "string",
            "title": "Stderr"
          },
          "stdout": {
            "type": "string",
            "title": "Stdout"
          },
          "type": {
            "type": "string",
            "const": "code_execution_result",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "content",
          "return_code",
          "stderr",
          "stdout",
          "type"
        ],
        "title": "CodeExecutionResultBlockParam"
      },
      "CodeExecutionTool20250522Param": {
        "properties": {
          "name": {
            "type": "string",
            "const": "code_execution",
            "title": "Name"
          },
          "type": {
            "type": "string",
            "const": "code_execution_20250522",
            "title": "Type"
          },
          "allowed_callers": {
            "items": {
              "type": "string",
              "enum": [
                "direct",
                "code_execution_20250825",
                "code_execution_20260120",
                "code_execution_20260521"
              ]
            },
            "type": "array",
            "title": "Allowed Callers"
          },
          "cache_control": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CacheControlEphemeralParam"
              },
              {
                "type": "null"
              }
            ]
          },
          "defer_loading": {
            "type": "boolean",
            "title": "Defer Loading"
          },
          "strict": {
            "type": "boolean",
            "title": "Strict"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "title": "CodeExecutionTool20250522Param"
      },
      "CodeExecutionTool20250825Param": {
        "properties": {
          "name": {
            "type": "string",
            "const": "code_execution",
            "title": "Name"
          },
          "type": {
            "type": "string",
            "const": "code_execution_20250825",
            "title": "Type"
          },
          "allowed_callers": {
            "items": {
              "type": "string",
              "enum": [
                "direct",
                "code_execution_20250825",
                "code_execution_20260120",
                "code_execution_20260521"
              ]
            },
            "type": "array",
            "title": "Allowed Callers"
          },
          "cache_control": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CacheControlEphemeralParam"
              },
              {
                "type": "null"
              }
            ]
          },
          "defer_loading": {
            "type": "boolean",
            "title": "Defer Loading"
          },
          "strict": {
            "type": "boolean",
            "title": "Strict"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "title": "CodeExecutionTool20250825Param"
      },
      "CodeExecutionTool20260120Param": {
        "properties": {
          "name": {
            "type": "string",
            "const": "code_execution",
            "title": "Name"
          },
          "type": {
            "type": "string",
            "const": "code_execution_20260120",
            "title": "Type"
          },
          "allowed_callers": {
            "items": {
              "type": "string",
              "enum": [
                "direct",
                "code_execution_20250825",
                "code_execution_20260120",
                "code_execution_20260521"
              ]
            },
            "type": "array",
            "title": "Allowed Callers"
          },
          "cache_control": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CacheControlEphemeralParam"
              },
              {
                "type": "null"
              }
            ]
          },
          "defer_loading": {
            "type": "boolean",
            "title": "Defer Loading"
          },
          "strict": {
            "type": "boolean",
            "title": "Strict"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "title": "CodeExecutionTool20260120Param",
        "description": "Code execution tool with REPL state persistence (daemon mode + gVisor checkpoint)."
      },
      "CodeExecutionTool20260521Param": {
        "properties": {
          "name": {
            "type": "string",
            "const": "code_execution",
            "title": "Name"
          },
          "type": {
            "type": "string",
            "const": "code_execution_20260521",
            "title": "Type"
          },
          "allowed_callers": {
            "items": {
              "type": "string",
              "enum": [
                "direct",
                "code_execution_20250825",
                "code_execution_20260120",
                "code_execution_20260521"
              ]
            },
            "type": "array",
            "title": "Allowed Callers"
          },
          "cache_control": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CacheControlEphemeralParam"
              },
              {
                "type": "null"
              }
            ]
          },
          "defer_loading": {
            "type": "boolean",
            "title": "Defer Loading"
          },
          "strict": {
            "type": "boolean",
            "title": "Strict"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "title": "CodeExecutionTool20260521Param",
        "description": "Code execution tool with REPL state persistence."
      },
      "CodeExecutionToolResultBlock": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CodeExecutionToolResultError"
              },
              {
                "$ref": "#/components/schemas/CodeExecutionResultBlock"
              },
              {
                "$ref": "#/components/schemas/EncryptedCodeExecutionResultBlock"
              }
            ],
            "title": "Content"
          },
          "tool_use_id": {
            "type": "string",
            "title": "Tool Use Id"
          },
          "type": {
            "type": "string",
            "const": "code_execution_tool_result",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "content",
          "tool_use_id",
          "type"
        ],
        "title": "CodeExecutionToolResultBlock"
      },
      "CodeExecutionToolResultBlockParam": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CodeExecutionToolResultErrorParam"
              },
              {
                "$ref": "#/components/schemas/CodeExecutionResultBlockParam"
              },
              {
                "$ref": "#/components/schemas/EncryptedCodeExecutionResultBlockParam"
              }
            ],
            "title": "Content"
          },
          "tool_use_id": {
            "type": "string",
            "title": "Tool Use Id"
          },
          "type": {
            "type": "string",
            "const": "code_execution_tool_result",
            "title": "Type"
          },
          "cache_control": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CacheControlEphemeralParam"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "content",
          "tool_use_id",
          "type"
        ],
        "title": "CodeExecutionToolResultBlockParam"
      },
      "CodeExecutionToolResultError": {
        "properties": {
          "error_code": {
            "type": "string",
            "enum": [
              "invalid_tool_input",
              "unavailable",
              "too_many_requests",
              "execution_time_exceeded"
            ],
            "title": "Error Code"
          },
          "type": {
            "type": "string",
            "const": "code_execution_tool_result_error",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "error_code",
          "type"
        ],
        "title": "CodeExecutionToolResultError"
      },
      "CodeExecutionToolResultErrorParam": {
        "properties": {
          "error_code": {
            "type": "string",
            "enum": [
              "invalid_tool_input",
              "unavailable",
              "too_many_requests",
              "execution_time_exceeded"
            ],
            "title": "Error Code"
          },
          "type": {
            "type": "string",
            "const": "code_execution_tool_result_error",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "error_code",
          "type"
        ],
        "title": "CodeExecutionToolResultErrorParam"
      },
      "CodeInterpreter": {
        "properties": {
          "container": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/CodeInterpreterContainerCodeInterpreterToolAuto"
              }
            ],
            "title": "Container"
          },
          "type": {
            "type": "string",
            "const": "code_interpreter",
            "title": "Type"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "container",
          "type"
        ],
        "title": "CodeInterpreter",
        "description": "A tool that runs Python code to help generate a response to a prompt."
      },
      "CodeInterpreterContainerCodeInterpreterToolAuto": {
        "properties": {
          "type": {
            "type": "string",
            "const": "auto",
            "title": "Type"
          },
          "file_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Ids"
          },
          "memory_limit": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "1g",
                  "4g",
                  "16g",
                  "64g"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Memory Limit"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "type"
        ],
        "title": "CodeInterpreterContainerCodeInterpreterToolAuto",
        "description": "Configuration for a code interpreter container.\n\nOptionally specify the IDs of the files to run the code on."
      },
      "ComparisonFilter": {
        "properties": {
          "key": {
            "type": "string",
            "title": "Key"
          },
          "type": {
            "type": "string",
            "enum": [
              "eq",
              "ne",
              "gt",
              "gte",
              "lt",
              "lte"
            ],
            "title": "Type"
          },
          "value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "title": "Value"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "key",
          "type",
          "value"
        ],
        "title": "ComparisonFilter",
        "description": "A filter used to compare a specified attribute key to a given value using a defined comparison operation."
      },
[...]
