.help-banner {
  display: flex;
  padding: 56px 40px 72px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Moon-Moon-900, #1A1D24);
  background-image: url('/images/support/support_banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: none;  
}

.help-banner h2,
.help-banner p {
  font-family: "Source Sans Pro";
  font-style: normal;
  line-height: 140%;
}

.help-banner h2 {
  color: var(--Moon-Moon-50, #FAFAFA);
  font-size: 40px;
  font-weight: 600;
}

.help-banner p {
  color: var(--Moon-Moon-250, #DADEE3); 
  font-size: 20px;
  font-weight: 400;
}

.help-banner.card:hover {
  box-shadow: none;
  transform: none;
}


/* Container for the card rows */
.card-container {
  display: flex;
  justify-content: space-between; /* Add space between cards */
  gap: 8px; /* Add some space between the cards */
  margin-bottom: 16px; /* Space between rows */
}


.card {
  display: flex;
  padding: 40px 33px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 12px;
  position: relative;
  min-height: 200px;
  box-shadow: none; /* Adjust as needed */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
  transform: translateY(-5px);
}

.card-icon-left,
.card-icon-right {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-icon-left {
  /* This icon will be part of the normal flow, above the header */
  margin-bottom: 8px; /* Increased space between icon and header */  
}

.card-icon-right {
  position: absolute;
  top: 40px; /* Aligns with the top padding of the card */
  right: 40px; /* Aligns with the right padding of the card */
}

.card-title {
  color: var(--Grayscale-gray-900, #181B1F);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  margin: 0;
}

.card-content {
  color: var(--Moon-Moon-800, #2B3038);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 0;
}


.card-pink,
.card-yellow,
.card-gray,
.card-blue {
  border-radius: 6px;
}

.card-pink {
  background: var(--color-sienna-300, #FFCFB2);
  background-repeat: no-repeat;
}

.card-yellow {
  background: var(--Gold-gold-light2, #FFD95C);
}


.card-gray {
  background: var(--Moon-Moon-150, #EDEFF2);
}

.card-blue { 
  background: var(--color-teal-550, #0097AB);
  color: var(--color-moon-white, #FFF);
}

.card-blue h2, 
.card-blue p {
  color: var(--color-moon-white, #FFF);
}

.card-support-index {
  background-color: rgb(235, 237, 240);
  padding: 16px 16px 0px 16px;
  margin-bottom: 16px;
  min-height: 0px;
  color: #000
}

.card-support-index:hover {
  color: #000
}

.card-banner {
  display: flex;
  padding: 32px 40px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Moon-Moon-50, #FAFAFA);
  color: var(--Moon-Moon-800, #2B3038);  
}

.card-banner h2,
.card-banner p {
  font-family: "Source Sans Pro";
  font-style: normal;
  line-height: 140%;
  margin: 0px;
}

.card-banner h2 {
  font-size: 24px;
  font-weight: 600;
  color: #181B1F;
}

.card-banner p {
  color: var(--Moon-Moon-800, #2B3038);
  font-size: 16px;
  font-weight: 400;
}

.card-banner-gray {
  border-radius: 12px;
  background: var(--Moon-Moon-50, #FAFAFA);
}

.card-banner.card-banner-gray:hover {
  box-shadow: none;
  transform: none;
  color: var(--Moon-Moon-800, #181B1F);  
}

.card-banner-icon {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--Backgrounds-Teal-tag-background, rgba(169, 237, 242, 0.48));
}

.card-banner-icon img {
  width: 32px; /* Make the SVG smaller than the container */
  height: 32px;
}


.contact-us-button {
  display: flex;
  padding: var(--Spacing-spacing-sm, 8px) var(--Spacing-spacing-sm-md, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--Spacing-spacing-sm, 8px);
  border-radius: var(--Radius-radius-sm, 4px);
  background: var(--buttons-primary-button-rest, #13A9BA); /* Teal background */
  color: white;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.contact-us-button:hover {
  background: var(--color-teal-450, #00B8D4); /* Lighter teal on hover */
}

.contact-us-button img {
  width: 112px;
  height: 24px;
}

.contact-us-button p {
  margin: 0;
  color: white;
}

.faq-container {
  max-width: 768px;
  margin: 0 auto;
}