.faqQuestion {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 0px;
  background: none;
  border: none;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: #038194;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 24px;
}

.faqQuestion.open {
  color: black;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  flex-shrink: 0;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 18L15 12L9 6" stroke="%236B7280" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease; /* Start rotated to point right */
}

.iconOpen {
  transform: rotate(90deg); /* Rotate to point down when open */
}

.faqQuestion.open .icon {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 18L15 12L9 6" stroke="%23111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.questionText {
  flex-grow: 1;
}

.faqAnswer {
  padding: 0 0 24px 36px;
  font-size: 16px;
  color: #6B7280;
}

.faqContainer {
  max-width: 768px;
  margin: 0 auto;
}
