.navbar__item:has(.locale-dropdown) {
    padding-left: 0;
    padding-right: 0;
  }
  
  .locale-dropdown {
    padding-left: 8px;
    padding-right: 0;
  }
  
  .dropdown > .navbar__link:after {
    border: none;
  }

  .locale-dropdown-icon {
    margin: auto 0;
  }
  
  .iconLanguage {
    vertical-align: baseline;
    margin-right: 4px;
  }

  .locale-dropdown-icon.chevron-down{
    margin-left: 4px;
    padding-top: 2px;
  }

  .menu__link--sublist-caret.locale-dropdown:after {
    background: none;
    height: 0;
  }