<script>
    // add line numbers and download buttons
    /*
    const preElements = document.querySelectorAll('pre');
    preElements.forEach(pre => {
      let codeTitle = pre.getAttribute('data-title');
      if (codeTitle) Prism.plugins.toolbar.registerButton('title', {
        text: codeTitle,
      });
    });
    */
    // show search keyword
    document.addEventListener("DOMContentLoaded", function () {
      // Function to sanitize input
      function sanitize(str) {
          const temp = document.createElement("div");
          temp.textContent = str;
          return temp.innerHTML;
      }
  
      // Get query string parameters
      const urlParams = new URLSearchParams(window.location.search);
      const queryValue = urlParams.get("q");
  
      // Check if 'q' has a value
      if (queryValue) {
          // Select the first h2 with class 'ms-4'
          const heading = document.querySelector("h2.ms-4");
          
          // Append the sanitized query value if the heading exists
          if (heading) {
              heading.textContent += `: "${sanitize(queryValue)}"`;
          }
      }
  });
  
</script>
<!-- Qualified -->
<script>
  (function(w,q){w['QualifiedObject']=q;w[q]=w[q]||function(){
  (w[q].q=w[q].q||[]).push(arguments)};})(window,'qualified')
  </script>
  <script async src="https://js.qualified.com/qualified.js?token=GMjrmCoq7HvrWi46"></script>
<!-- End Qualified -->

<!-- inject lvl0 value from top-tier menu name into Algolia -->
{{- $currentPage := . -}}
{{- range site.Menus.main -}}
  {{- if $currentPage.IsMenuCurrent .Menu . -}}
    <div class="lvl0" style="display:none">{{ .Name }}</div>
  {{- else if $currentPage.HasMenuCurrent .Menu . -}}
  <div class="lvl0" style="display:none">{{ .Name }}</div>
  {{- end -}}
{{- end -}}