name: Build the docs

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 22.9.0

    - name: Install yarn
      run: npm install --global yarn
  
    - name: Install dependencies 
      run: yarn install

    - name: Build the docs
      run: sh ./scripts/production.sh