name: Hugo build test

on:
  pull_request:
  merge_group:
  workflow_call:

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        run: |
          wget "https://github.com/gohugoio/hugo/releases/download/v$(cat .hugo-version)/hugo_extended_$(cat .hugo-version)_linux-amd64.deb" -O hugo.deb
          sudo apt install ./hugo.deb

      - name: Run Hugo build
        run: hugo
