name: Hugo build test

on:
  pull_request:
  merge_group:
  workflow_call:

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup environment
        run: |
          wget "https://github.com/gohugoio/hugo/releases/download/v$(grep 'HUGO_VERSION' wrangler.toml | awk -F '\"' {'print $2'})/hugo_extended_$(grep 'HUGO_VERSION' wrangler.toml | awk -F '\"' {'print $2'})_linux-amd64.deb" -O hugo.deb
          sudo apt install ./hugo.deb
          npm install
          go mod download
          hugo mod get -u
      - name: Run Hugo build
        run: hugo
